<nav>
  <a routerLink="/acceuil" routerLinkActive="active" class="btn btn-link"
    >acceuil</a
  >
  <a
    *ngIf="authenticated"
    routerLink="/departement"
    routerLinkActive="active"
    class="btn btn-link"
    >departement</a
  >
  <a
    *ngIf="authenticated"
    routerLink="/employe"
    routerLinkActive="active"
    class="btn btn-link"
    >employe</a
  >
  <a routerLink="/form/template" routerLinkActive="active" class="btn btn-link"
    >formulaire pilote par le template</a
  >
  <a routerLink="/form/code" routerLinkActive="active" class="btn btn-link"
    >formulaire pilote par le code</a
  >
  <a
    *ngIf="!authenticated"
    routerLink="/inscription"
    routerLinkActive="active"
    class="btn btn-link"
    >inscription</a
  >
  <a
    *ngIf="!authenticated"
    routerLink="/login"
    routerLinkActive="active"
    class="btn btn-link"
    >login</a
  >
  <a *ngIf="authenticated" class="btn btn-link" (click)="logout()"
    >deconnection</a
  >
  <span *ngIf="authenticated">bonjour {{ login }}</span>
</nav>

<router-outlet></router-outlet>
