<nav>
  <a routerLink="/acceuil" routerLinkActive="active" class="btn btn-link"
    >acceuil</a
  >
  <a routerLink="/departement" routerLinkActive="active" class="btn btn-link"
    >departement</a
  >
  <a routerLink="/employe" routerLinkActive="active" class="btn btn-link"
    >employe</a
  >
  <a routerLink="/form/template" routerLinkActive="active" class="btn btn-link"
    >formulaire pilote par le template</a
  >
  <a routerLink="/form/code" routerLinkActive="active" class="btn btn-link"
    >formulaire pilote par le code</a
  >
  <a routerLink="/inscription" routerLinkActive="active" class="btn btn-link"
    >inscription</a
  >
</nav>

<router-outlet></router-outlet>
