<div>
  <div *ngIf="error" class="alert alert-danger">erreur d'authentification</div>
  <form (ngSubmit)="save()" [formGroup]="form">
    <div class="form-group">
      <label>login:</label>
      <input class="form-control" formControlName="login" />
      <div
        class="alert alert-danger"
        *ngIf="form.controls['login'].dirty && form.controls['login'].invalid"
      >
        login obligatoire
      </div>
    </div>
    <div class="form-group">
      <label>mot de passe:</label>
      <input type="password" class="form-control" formControlName="password" />
      <div
        class="alert alert-danger"
        *ngIf="form.get('password')?.dirty && form.get('password')?.invalid"
      >
        mot passe obligatoire
      </div>
    </div>

    <div class="from-group">
      <button
        type="submit"
        class="btn btn-outline-success"
        [disabled]="form.invalid"
      >
        enregistrer
      </button>
      <a routerLink="/acceuil" class="btn btn-link">annuler</a>
    </div>
  </form>
</div>
